.activity-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 800px;
    gap: 16px;
}

.activity-item {
    width: 180px;
    height: 300px;
    box-sizing: border-box;
    cursor: pointer;
}

.activity-item-img-box {
    width: 180px;
    height: 180px;
}

.activity-item-img-box-layout {
    position: absolute;
}

.activity-item-img-box-layout img {
    width: 180px;
    height: 180px;
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 10px;
    object-fit: cover;
}

.activity-item-img-box-layout .activity-item-like {
    width: 20px;
    height: 20px;
    left: 150px;
    top: 150px;
    position: absolute;
    background-color: red;
}

.title-box {
    width:100%;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}