.container {
    display: block;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.activity-info {
    display: flex; /* flexbox 적용 */
    justify-content: space-between; /* 양쪽 정렬 */
    width: 90%; /* 전체 너비 */
    padding-right: 20px;
    align-items : center;
    margin: 20px auto;
    padding: 20px;

}

.activity-info div {
    width: 50%; /* 텍스트와 이미지 각각 50% */
    padding-right: 10px;
    padding-left : 40px;
    justify-content: space-evenly;
}


.activity-info img {
    width: 70%; /* 이미지가 공간을 가득 채우도록 */
    height: 50%;
}

<!--
.activity-thumbnail {
    display : inline-block;
    width: 40%;
}

.activity-thumbnail img {
    width: 100%;
    height: auto;
}
-->

.visit-schedule {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.calendar {
    margin-bottom: 20px;
}

.reservation-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    cursor: pointer;
}