@charset "UTF-8";
form{
	padding-top:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
	border:1px solid gray;
	box-sizing: border-box;
	border-radius: 7px;
	font-size: 12pt;
	width:270px;
	height:30px;
	margin:5px;

}

input[type="submit"]{
	color: #ffffff;
	background-color: #3da5ff;
	margin:5px;

}

input[type="button"]{
	color: #ffffff;
	background-color: #3da5ff;
	margin:5px;
	width:70px;
	height:30px;
	font-size: 10pt;
}
input[type="tel"]{
	width:73px;
	height:30px;
}
textarea{
	resize: none;
	font-size: 12pt;
	width:350px;
	height:80px;
	border:1px solid gray;
	border-radius: 7px;
}

input[type="submit"]:active{
	transform: translateY(2px);
	box-shadow:none;
}

input[type="button"]:active{
	transform: translateY(2px);
	box-shadow:none;
}