@charset "UTF-8";
.signin-form{
	padding-top:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-input{
	border:1px solid gray;
	box-sizing: border-box;
	border-radius: 7px;
	font-size: 12pt;
	width:270px;
	height:30px;
	margin:5px;

}

.signin-input-submit{
	color: #ffffff;
	background-color: #3da5ff;
	margin:5px;

}

.signin-input-button{
	background-color: #ffffff;
	margin:5px;
}
.signin-input-submit:active{
	transform: translateY(2px);
	box-shadow:none;
}

.signin-input-button:active{
	transform: translateY(2px);
	box-shadow:none;
}